<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>


    <!--Email Settings-->
    <add key="SMTPMailServer" value="smtp.gmail.com"/>
    <add key="SMTPEmailID" value="rohit.kale@graceworks.com"/>
    <add key="SMTPPassword" value="kaal@1234"/>
    <add key="SMTPPortNo" value="587"/>
    <add key="SMTPEnableSSL" value="true"/>

    <!-- Gateway Balance Checking Links -->

    <add key="SMSGATEWAYPROMOBALANCEURL" value="http://sms6.routesms.com:8080/CreditCheck/checkcredits?username=gracep&amp;password=cepin125"/>
    <add key="SMSGATEWAYTRANSBALANCEURL" value="http://sms6.routesms.com:8080/CreditCheck/checkcredits?username=gracework&amp;password=pra07sha"/>


    <!-- Gateway Links -->
    <add key="PromotionalGateWay" value="http://sms6.routesms.com:8080/bulksms/bulksms?username=gracep%26password=cepin125%26type=0%26dlr=0%26destination=[recipient]%26source=022751%26message=[message]"/>
    <add key="TransactionalGateWay" value="http://sms6.routesms.com/bulksms/bulksms?username=gracework%26password=pra07sha%26type=0%26dlr=0%26destination=[recipient]%26source=[gateway]%26message=[message]"/>

  </appSettings>

  <connectionStrings>
    <add name="msgBlasterWebContext" connectionString="Data Source=KHR-12-PRASAD;Initial Catalog=MsgBlasterWeb30-July;User ID=sa;Password=myfair@123" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  
</configuration>